*
{
	padding: 0;
	margin: 0;
}
body
{
	width: 100%;
}
/*
 * This text for Page Header
 * Author: Tan Hoa;
 * Date: 22/03/2019;
 */
.pageHeader
{
	display: flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(46,46,46);
}
.headerLinks, .listIcon
{
	list-style: none;
	margin: 10px ;
}
.headerLinks li
{
	display: inline;
	padding: 10px;
}
.headerLinks a
{
	text-decoration: none;
	color: rgb(134,134,134);
	padding-right: 10px;
	border-right: solid 1px; 
}
.headerLinks a:hover
{
	color: rgb(250,67,5);
	font-size: 20px;
}
.listIcon li
{
	display: inline;
	padding: 5px;
}
.listIcon i
{
	padding: 15px;
	border-radius: 50%;
	color: white;
	font-size: 20px;
	background-color: rgb(120,120,120); 
}
.listIcon i:hover
{
	background-color: rgb(219,74,57);
}
/*
 * This text css for slide Shower 
 * Author: Tan Hoa;
 * Date: 22/03/2019;
*/
.slideShower
{
	display: flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(241,241,241);
	border-top: solid 8px rgb(233,233,233);
	border-bottom: solid 8px rgb(233,233,233);
}
.slideText
{
	padding: 20px;
	width: 50%;
}
.slideText h1
{
	font-weight: 400;
	color: rgb(51,51,51);
	font-size: 50px;
	padding: 10px 0px 10px 0px;
}
.slideText p
{
	font-size: 200;
	color: rgb(106,106,106);
	font-size: 20px;
	padding: 10px 0px 20px 0px;
}
.slideText button
{
	background-color: rgb(0,153,255);
	color: white;
	width: 180px;
	height: 40px;
	border-radius: 10px;
	font-family: serif;
	font-size: 20px;
	font-weight: 200;
}
.slideImage
{
	width: 550px;
	height: 440px;
	position: relative;
	padding: 20px 30px 0px 0px;
}
.images
{
	width: 550px;
	height: 440px;
	display: none;
}
.slideNavigate
{
	position: absolute;
	bottom: 16px;
	left: 16px;
}
.slideNavigateItem
{
	height: 12px;
	cursor: pointer;
	width: 12px;
	margin: 0 2px;
	display: inline-block;
	border-radius: 50%;
	border: solid;
}
/*
 * This text css for menu  
 * Author: Tan Hoa;
 * Date: 22/03/2019;
*/
.menuContent
{
	list-style-type: none;
	border-bottom: solid 4px rgb(241,241,241);
	margin-left: 20px;
	margin-right:10px;
	padding: 0px 0px 80px 0px;
}
.menuContent li
{
	float: left;
	text-align: left;
	margin:0;
}
.itemName
{
	padding: 30px 30px 30px 0px;
	display: block;
	text-align: left;
	text-decoration: none;
}
.items a:hover
{
	border-bottom: solid 4px rgb(0,153,255);
	color: rgb(180,180,180);
}
#active
{
	border-bottom: solid 4px rgb(0,153,255);
	color: rgb(180,180,180);
}
/*
 * This text for search website
 * Author: Tan Hoa;
 * Date: 22/03/2019;
 */
.searchWebSite
{
	display: flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	height: 250px;
}
.searchWebSiteLogo
{
	padding: 10px;
}
.searchWebSiteLogo h2
{
	font-size: 40px;
	font-weight: 400;
	padding: 10px 10px 0 10px;
	color: rgb(53,53,53);
}
.searchWebSiteLogo p
{
	font-size: 14px;
	font-weight: 400;
	padding: 10px 10px 0 10px;
	color: rgb(153,153,153);
}
.searchForm
{
	margin: 10px;
}
.searchText
{
	width:300px;
	height: 40px;
	color: rgb(163,163,163);
	border-radius: 8px;
	border:none;
	font-size: 15px;
	margin:10px;
	font-family: serif;
	background-color: rgb(241,241,241);
}
.searchButton
{
	width: 100px;
	height: 40px;
	border-radius: 8px;
	border: none;
	color: white;
	background-color: rgb(0,153,255);
}
/*
 * This text for Product
 * Author: Tan Hoa;
 * Date: 22/03/2019;
 */
.product
{
	display: flex;
	display: -ms-flex;
}
.product img
{
	width: 50%;
	height: 700px;
}
.listProducts
{
	display: flex;
	display: -ms-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.productInfor
{
	width: 49%;
	display: flex;
	display: -ms-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.productInfor img
{
	width: 85px;
	height: 80px;
}
.productInfor h1
{
	color: rgb(19,151,249);
	font-size: 25px;
	padding: 20px;
	font-weight: 200;
}
.productInfor p
{
	font-size: 20px;
	color: rgb(44,44,44);
	font-weight: 200;
	width: 50%;
	text-align: center;
}
/*
 * This text for Subcribe Block
 * Author: Tan Hoa;
 * Date: 22/03/2019;
 */
.subcrbie
{
	display: flex;
	display: -ms-flex;
	justify-content: space-between;
	align-items: center;
	margin:40px;
	border-left: solid 8px rgb(4,151,247);
	background-color: rgb(224,224,224); 
}
.subcribeContentTitle
{
	font-size: 50px;
	color: rgb(51,51,51);
	font-weight: 500;
	padding: 10px 10px 5px 20px;
}
.subcribeContentText
{
	font-size: 25px;
	color: rgb(51,51,51);
	padding: 10px 10px 5px 20px;
	margin-bottom: 20px;
}
.contactButton
{
	height: 80px;
	width: 330px;
	font-size: 30px;	
	border-radius: 10px;
	color: rgb(250,250,250);
	font-family: serif;
	margin: 30px;
	border: none;
	background-color: rgb(0,154,255);
}
/*
 * This text for more Information Blocks
 * Author: Tan Hoa;
 * Date: 22/03/2019;
 */
.moreInfor
 {
 	display: flex;
 	display: -ms-flex;
 	justify-content:space-between;
 	align-items: center;
 	vertical-align: top;
	padding: 30px;
	background-color: rgb(26,26,26);
 }
.moreInforBlocks
 {
 	display: flex;
 	display: -ms-flex;
 	align-items: top;
 	flex-direction: column;
 	width: 215px;
 	padding: 10px;
 	height: 400px;
 	margin: 30px;
 }
.moreInforBlocks img
 {
 	width: 215px;
 	height: 91px;
 	padding: 5px;
 	margin: 20px 20px 20px 0px;
 	border: solid 0.5px rgb(44,44,44);
 }
.footerPostTitle
 {
 	color: rgb(109,109,109);
 	font-size: 25px;
 	padding-top: 20px; 
 }
.inforBlockTitle
 {
 	color: rgb(250,250,250);
 	font-size: 20px;
 	font-family: serif;
 	font-weight: 300;
 }
.inforBlockParagraph
 {
 	color: rgb(109,109,109);
 	margin: 20px 20px 20px 0px;
 	width: 215px;
 }
.footerLinkReadMore
 {
 	text-align: right;
 	text-decoration: none;
 	color: rgb(25,139,202);
 	width: 100%;
 }
.listQuickLinks
 {
 	list-style: none;
 }.listQuickLinks li
 {
 	border-bottom:solid 1px rgb(109,109,109);
 	padding-bottom: 5px; 
 }
.listQuickLinks i
 {
 	color: rgb(109,109,109);
 	font-size: 12px;
 	padding: 20px 20px 0px 0px;
 }
 .listQuickLinks a
 {
 	text-decoration: none;
 	color: rgb(25,139,202);
 }
.moreInforBlocks textarea
{
	width: 100%;
	height: 40px;
	padding: 5px;
	border-radius: 8px;
	margin-top: 10px;
	font-size: 18px;
	background-color: rgba(35,35,35);
	border: none;
}
#message
{
	height: 100px;
}
.submitButton
{
	margin-top: 15px;
	width: 130px;
	height: 50px;
	border: none;
	color: white;
	font-size: 25px;
	font-family: serif;
	border-radius: 8px;
	background-color: rgb(0,154,255);
}
#lastLink
{
	border: none;
}
/*
 * This is text css for footer page
 * Author: Tan Hoa
 * Date: 22/03/2019
 */
 .pageFooter
 {
 	display: flex;
 	display: -ms-flex;
 	justify-content: space-between;
 	align-items: center;
 	background-color: rgb(44,44,44);
 	border-top: solid 1px rgb(44,44,44); 
 	padding: 30px;
 }
 .footerContent
 {
	font-family: sans-serif;
	font-size: 14px;
	margin: 30px;
	color: rgb(100,114,119);
	padding: 10px 0px 10px 0px;
 }